# System/IDE Directories
.gemini/
.agents/
.vscode/
.idea/

# Local Dev/Build outputs
node_modules/
dist/
build/
*.log

# OS Metadata
.DS_Store
Thumbs.db

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
